
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title></title>

    <script>

        $(document).ready(function () {
            debugger;
            var data = document.URL.split("=");
            var access_token ='_'
                //data[1].split("&")[0];
            var external = '{ExternalAccessToken: "' + access_token + '"}';
            $.ajax({
                type: 'POST',
                url: 'https://' + window.location.host + '/Account/RegisterExternal',
                headers: { 'content-type': 'application/json', 'Authorization': 'Bearer ' + access_token },
                data: external,
                dataType: 'json',
                success: function (response) {
                    alert("Success");
                    window.location.href = "/Notes/GetNotes";
                },
                error: function (response) {
                    var id = JSON.stringify(response.responseText);
                    window.location.href = "/GetNoteExternal?Token=" + access_token ;
                },
                faliure: function (response) {
                    alert("Faliure");
                }
            });

        });
    </script>
</head>
<body>
    <div>

    </div>
</body>
</html>
