@{
    Layout = "";
}
<div >
    <md-dialog aria-label="Forgot Password">

        @using (Html.BeginForm("ForgotPassword","Account",FormMethod.Post)) { 
        <form name="myForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Forgot Password</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="~/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <md-content class="md-padding">

                    <md-input-container class="md-block">
                        <label>User Name</label>
                        <input type="email" name="Username" ng-model="Username" required  />
                        <div ng-messages="myForm.Username.$error">
                            <p ng-message="required" >Enter Email ID</p>
                            <p ng-message="email" class="help-block">Enter valid Email ID</p>
                        </div>
                    </md-input-container>


                </md-content>


            </md-dialog-content>

            <md-dialog-actions layout="row">

                <md-button @*ng-click="answer('Submit')"*@ type="submit" ng-disabled="myForm.Username.$invalid">
                    Submit
                </md-button>
            </md-dialog-actions>
        </form>
        }
    </md-dialog>
</div>