

@{
    ViewBag.Title = "ForgotPasswordconfirmation";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div>
    <p>
        Please check your email to reset your password. Please @Html.ActionLink("click here to log in", "Signin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

