@*@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}*@

@*<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-material.min.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
<script src="~/Scripts/angular-aria.min.js"></script>
<script src="~/Scripts/angular-messages.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<link href="~/Content/angular-material.min.css" rel="stylesheet" />
<script src="~/Scripts/SignInPopup.js"></script>
<link href="~/Style/Master.css" rel="stylesheet" />
<script src="~/Directive/Sidenav.js"></script>
<script src="~/Directive/Header.js"></script>
<div class="topnav topfixed " layout="row">
    <div flex-lg="100" flex-md="100" flex-sm="20" flex-xs="10">
        <h1 style="margin:15px 100px">FundooNotes</h1>
    </div>

    <md-content>
        <md-toolbar>
            <md-truncate style="position: absolute; left: 90px; right: 170px; top: 21px; bottom: 13px;">Fundoo Notes</md-truncate>
        </md-toolbar>

    </md-content>
    
</div>*@



<body>
    <div>
        <md-toolbar class="md-hue-2" style="background-color:rgb(63,81,181)">
            <div class="md-toolbar-tools">
                <h4 style="margin-left:10px">FundooNotes</h4>

            </div>
        </md-toolbar>
    </div>

</body>